<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>PORNOGRAPHY</title>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Gender and Development</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Homepage</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Activities</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Issues</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact Us</a></li>
        </ul>
    </div>
</div>

	<div id="carousel-example" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example" data-slide-to="1"></li>
	    <li data-target="#carousel-example" data-slide-to="2"></li>
	  </ol>

	  <div class="carousel-inner">
	    <div class="item active">
	      <a href="#"><img src="../public/images/pornography1.jpg" class="slider1"/></a>
	      <div class="carousel-caption">
	        <h3>Meow</h3>
	        <p>Just Kitten Around</p>
	      </div>
	    </div>
	    <div class="item">
	      <a href="#"><img src="../public/images/pornography2.jpg" /></a>
	      <div class="carousel-caption">
	        <h3>Meow</h3>
	        <p>Just Kitten Around</p>
	      </div>
	    </div>
	    <div class="item">
	      <a href="#"><img src="../public/images/pornography3.jpg" /></a>
	      <div class="carousel-caption">
	        <h3>Meow</h3>
	        <p>Just Kitten Around</p>
	      </div>
	    </div>
	  </div>

	  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
    <div class="content full-side">
        <h2 class="content-head is-center">PORNOGRAPHY</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4" id="porn-1">

                <h3 class="content-subhead">
                    Pornography
                </h3>
                <p>Pornography has long been painted as a “victimless crime”. Like alcohol consumption, its abuse was seen as the fault of the one who abused it. Anyone who fought against it was seen as just taking away someone’s right to do something they wanted to do. This is the narrative that got “stuck in the craw” of so many across this nation, but in truth, it’s so much more than that.</p>

				<p>Pornography is the driving force behind sex trafficking (and therefore, the whole sex trafficking industry), abortion (and therefore the abortion industry), spousal and child abuse, drug abuse, self-hatred and depression to the point of suicide and/or homicide, the list goes on and on. The forced prostitution, forced abortions, and drug use that accompanies the porn industry should be enough on its own to show that this is far from a “victimless crime”.</p>

	<p>Demographically, however, there are very few groups of people who are even willing to acknowledge it as a problem. The institutional church doesn’t want to offend its congregations to this level. Nor do they want to preach what would be deemed as R-rated sermons with children in attendance. Politicians fear ridicule on the level of the “Bill and Monica” scandal, as do many individuals who are offended by it. Too many ladies, Christian and non-Christian, are just too resentful of the people portrayed in these photos to consider their plight. And of course, most men are so enamored by it that they don’t stop to consider the person behind those “big blue eyes”. So what’s to be done? Who is left to do anything at all?</p>
            </div>
        </div>
</div>



</body>
</html>